footer {
    background-color: #e0e0e0;
}

.footer {
    height: 80px;
    display: flex;
    align-items: center;
    gap: 60px;
    justify-content: center;
}
.footer p {
    font-size: 24px;
    color: #000000;
}