.reviews {
    background-color: #ffffc2;
}

.reviews__item {
    width: 200px;
    height: 250px;
    background-color: #d0e3ed;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reviews__circle {
    margin-top: 15px;
    width: 115px;
    height: 100px;
    background-position: center;
    border-radius: 50%;
}
.reviews__item p {
    font-size: 14px;
    color: #000000;
    margin: 10px;
    text-align: justify;
}
.img_one {
    background-image: url('../img/reviews/img1.jpg');
}
.img_two {
    background-image: url('../img/reviews/img3.jpg');
}