.slider {
    background-color: #e0e0e0;
    border-top: 1px solid black;
}

.slide__window {
    overflow: hidden;
    width: 1006px;
    height: 390px;
}
.slide {
    width: 1006px;
    height: 390px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.35s;
}
.one {
    background-image: url('../img/slider/slide_one.jpg');
}
.slide p {
    text-align: justify;
    color: #fff;
    font-size: 20px;
    padding: 40px 25px 0 25px;
}
.two {
    background-image: url('../img/slider/slide_two.jpg');
}
.tree {
    background-image: url('../img/slider/slide_tree.jpg');
}